*{
  margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  height: 100%;
  width: 100vw;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;

}
.nav{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightgreen; */
}
.part2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}
.part2 a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.hero img{
  height: 500px;
  border-radius: 60px;
  mix-blend-mode: exclusion;
}
.hero{
  display: flex;
  padding: 20px;
  margin: 50px; 
  gap: 50px;
  
  
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
  text-align: start;
  font-size: 1.8em;
  position: relative;
}
.text span{
width: 100%;
overflow:hidden;
}
.section{
  font-size: 3.5em;
  display: flex;
  white-space: nowrap;
  padding: 10px 0 20px 0;
  overflow: hidden;
}
/* secction 2 */
.container-2{
  padding: 20px;
  margin: 50px; 
  background-color: #2222;
}
.container-3{
  padding: 20px;
  margin: 50px; 
  background-color: #3333;
}
.skills h1{
  font-size: 4.5em;
}
.skills h5{
  font-size: 1.5em;
}
.development{
  margin-top: 40px;
}
.development button{
  font-size: 2.3em;
  background-color: #111;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid white;
  border-radius: 10px;
}
.design button{
  font-size: 2.3em;
  background-color: #111;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid white;
  border-radius: 10px;
}
.design{
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
.logos span img{
  height: 50px;
}
.logos span{
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.logos{
  margin-top: 30px; 
  display: flex;
  align-items: center;
  gap: 30px;
}
.string{
 display: flex;
 justify-content: center;
 align-items: center;
  /* background-color: aquamarine; */
  height: 50px;
}

/* container-3  */
.container-3 h1{
  font-size: 3em;
}
.container-3 h5{
  font-size: 1.3em;
}
.projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px;
}
.col-6 img{
  margin: 10px 0 10px 0;
  border-radius: 10px;
 width: 100%;
}
.col-6 a{
  font-size: 3em;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}
.see-more{
  display: flex;
  justify-content: end;
  align-items: center;
}
.see-more span{
  font-size: 1.4em;
}
.see-more button{
  font-size: 1.4em;
  border: 2px solid white;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #3333;
  color:#fff;
  border-radius: 10px;
}
.see-more button:hover{
  font-size: 1.4em;
  /* border: 2px solid white; */
  padding: 5px 10px;
  background-color: #fff;
  color:#333;
  border-radius: 10px;
  transition: 0.5s ease;
}

/* container 4  */

.container-4{
  padding: 20px;
  margin: 50px; 
  background-color: #4444;
}
.container-4 h1{
  margin: 20px 0px;
  font-size:4vmax ;
}
.container-4 h1 span{
  margin: 20px 0px;
  color: #F6BA53;
}
.repo-links a{
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid white;
  position: relative;
  width: 100%;
  height: 72px;
  padding: 0 10px;
}
.repo-links a h4{
  width: 30%;
  position: relative;
  font-size: 1.8vmax;
  z-index: 99;
}
.repo-links a h5{
  width: 30%;
  position: relative;
  font-size: 1.8vmax;
  text-align: left;
  z-index: 99;
}
.repo-links a h6{
  width: 30%;
  position: relative;
  font-size: 1.8vmax;
  text-align: end;
  z-index: 99;

}
.last-link{
  border-bottom: 2px solid white;
}
#sliding-div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9;
  width: 0%;
  transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
  background-color: #fff;
}
.repo-links a:hover #sliding-div {
  width: 100%;
}

.repo-links a:hover h4{
  color: #111;
}
.repo-links a:hover h5{
  color: #111;
}
.repo-links a:hover h6{
  color: #111;
}

/* container 5 */

.container-5{
  padding: 20px;
  margin: 50px; 
  background-color: #555;
}
.container-5 h1{
  font-size: 5vmax;
}
.container-5 h1 a:first-child{
  text-decoration: none;
}
.container-5 h1 a:first-child:hover{
  text-decoration:line-through;
}
.container-5 h1 a:nth-child(2){
  text-decoration: none;
}
.container-5 h1 a:nth-child(2){
  text-decoration: none;
  color: #F6BA53;
}

.container-5 h1 a:nth-child(2):hover{
  text-decoration:line-through;
}
.container-5 h1 a:nth-child(3){
  text-decoration: none;
  color: #51CDE7
}
.container-5 h1 a:nth-child(3):hover{
  text-decoration:line-through;
}


/* responsive */
@media (max-width:767px) {
  .hero{
    flex-direction: column;
    padding: 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    width: 100%;
    
  }
  .hero img{
    height: 200px;
    width: 300px;
  }
  .text{
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .text span{
    display: flex;
    flex-wrap: wrap;
    text-overflow: clip;
  }
  .section{
    font-size: 1em;
    width: 100%;
  }
  .part2{
    display:none
  }
  .col-6{
    width: 100%;
  }
  .container-3{
    padding: 0% 10px;
    margin: 0px 10px;
    
  }
  .logos{
    flex-wrap: wrap;
  }
  .container-2{
    margin: 0px 10px;
    padding: 0 10px;
  }
  .skills h1{
    font-size: 2.4em;
  }
  .skills h5{
    font-size: 1.3em;
  }
  .development button{
    font-size: 1.3em;
  }
  .logos span img{
    height: 20px;
  }
  .design button{
    font-size: 1.3em;
  }
  .container-3 h1{
    font-size: 2.4em;
  }
  .container-3 h5{
    font-size: 1.4em;
  }
  .col-6 a{
    font-size: 2em;
  }
.col-6 h5{
  font-size: 1.1em;
}
.col-6{
  text-align: center;
}
.see-more{
  padding: 10px 0px;
}
.see-more button{
  font-size: small;
}
.see-more span{
  font-size: medium;
}
.container-4{
  padding: 0% 10px;
  margin: 0px 10px;
}
.container-5{
  padding: 0% 10px;
  margin: 20px 10px;
}
.container-4 h1{
  font-size: 1.9em;
}
.container-5 h1{
  font-size: 1.9em;
}
  
}